:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  touch-action: manipulation;
}




body {
  margin: 0;
  display: flex;
  place-items: center;
  
 
}

button {
  width: 100%;

  font-size: xx-large;

}


#velocity{
  display: block;
  width: 100%;
  align-self: center;
  text-align: center;
  font-size: xx-large;
  margin-left: 5%;
  margin-right: 5% ;
  }


.hide-hud-button{
  
  top: 8%; 
  right: 50px;
}

#planetButtons{
  display:flex;
  flex-wrap:wrap;
  gap: 5px;
  position: fixed;
  top: 50px;
  right: 1%;
  z-index: 10;; 
  height: 40%;
  width: 10%;
  min-width: 200px;
  max-width: 250px;
  
}

#velocityButtons{
 
  display: flex;
  position: fixed;
  bottom: 0px;
  left: 33%;
  width: 35%;
  z-index: 10;
}

.hud-button{
  position: fixed;
  width: 60px;
  height: 60px;
  background: #04AA6D;
  /* background: #3498db; */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;  
  cursor: pointer;
  border: none;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.4s ease;
  transform-origin: right center;
}

.gravity-button{
  right: 50px;
  top: 32%;  
  opacity: 0.2;
}

.orbits-button{
  right: 50px;
  top: 40%;  
}

#slider-number{
  position: fixed;
  display: flex;
  justify-content: center;
  color: white;

  bottom:4%;
  left: 33%;
  width: 35%;
  height: 15px;
}

.menu-planets{
  top: 16%;
  right: 50px;
}

.menu-moons{
  top: 24%;
  right: 50px;
}
.menu-container {
  position: fixed;
  
  width: 60px; 
  height: 60px;
  overflow: visible;
}

.menu-container input[type="checkbox"] {
  display: none;
}


.menu-button {
  position: absolute;
  top: 0;
  right: 0;

  box-sizing: border-box;
}

.toggle-icon {
  color: #fff;
  font-size: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  pointer-events: none;
}

.menu-options {
  display: flex;
  flex-direction: row;
  gap: 10px;
  opacity: 0;
  transition: opacity 0.4s ease 0.2s;
  pointer-events: none; 
}
.hidden {
  display: none !important;
}

.menu-options button {
  background: transparent;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.menu-container input[type="checkbox"]:checked ~ .menu-button {
  width: 700px;
  border-radius: 30px;
  justify-content: space-between; 
  padding: 0 15px;
}


.menu-container input[type="checkbox"]:checked ~ .menu-button .menu-options   {
  opacity: 1;
  pointer-events: auto; 
  
}
.menu-container input[type="checkbox"]:checked ~ .menu-button .toggle-icon {
  left: auto;
  right: 15px;
  transform: translateY(-50%);
}

.slider {
  -webkit-appearance: none;
  position: fixed;
  bottom: 1%;
  left: 33%;
  width: 35%;
  height: 15px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #04AA6D;
  cursor: pointer;
  transition: all 0.4s ease;
  transform-origin: right center;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}


@media (max-width: 1023px) {
 
  .hud-button{
    width: 100px;
    height: 100px;
  }

  .menu-container{
    width: 100px;
    height: 100px
  }

  #velocityButtons{
    left: 0%;   
    min-height: 100px;
    min-width:100%
  }
  #velocity{
    font-size: 4em;
  }


  .slider {
   left: 5%;
     bottom: 5%;
    width: 90%;
    height: 1%;
  }

  .slider::-webkit-slider-thumb {
    width: 80px;
    height: 80px;
    
  }

  #slider-number{
   
 font-size: xx-large;
 height: 10%;
  }
}

/* h1 {
  font-size: 3.2em;
  line-height: 1.1;
} */

/* #app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */
/* 
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */


/* button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
